<h1>New Entry</h1>

<form action="/entries" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="place_id" value="<%= params["place_id"] %>">

  <p>
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
  </p>

  <p>
    <label for="description">Description</label>
    <textarea name="description" id="description"></textarea>
  </p>

  <p>
    <label for="occurred_on">Occurred on</label>
    <input type="date" name="occurred_on" id="occurred_on">
  </p>

  <p>
    <label for="uploaded_image">Image</label>
    <input type="file" name="uploaded_image" id="uploaded_image">
  </p>

  <button class="btn btn-primary">Create Entry</button>
</form>